/**
 * CSS Stylesheet 2 for Online Code Editor web application
 * This Stylesheet is used for 2nd layout
 */


body {
  text-align: center;
  background-color: rgb(41, 38, 38);
}


.inout {
  height: 100vh;
  display: flex;
}


h1 {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.codearea {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  border-right: 1px solid rgb(41, 38, 38);
  ;
}

.preview {
  width: 50%;
}

.preview iframe {
  width: 100%;
  height: 89.5%;
  border: none;

}

::placeholder {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(248, 248, 248);
}

iframe {
  bottom: 0;
  position: relative;
  width: 80%;
  min-height: 38em;
  background-color: #f4f4f9;
  resize: both;
}


.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar button {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

.navbar a:hover,
.dropdown:hover .dropbtn .dropdown2:hover .dropbtn2 {
  background-color: red;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content label {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content label:hover {

  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2 {
  float: left;
  overflow: hidden;
}

.dropdown2 .dropbtn2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content2 a:hover {

  background-color: #333;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}


#HTMLdownload:active {
  background-color: #e34c26;
  color: #f8f8f8;
}

#cssdownload:active {
  background-color: #264de4;
  color: #ffffff;
}

#jsdownload:active {
  background-color: #F0DB4F;
  color: #070611;
}

#reset:active {
  background-color: #ffffff;
  color: #000000;
}

#layout:active {
  background-color: #ffffff;
  color: #000000;
}


.CodeMirror {
  min-width: 100%;
  height: 33%;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  outline: none;
  font-family: Consolas, monaco, monospace;
  margin: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 10px;
  border: 2px solid transparent;
  resize: vertical;
  overflow: auto;
  text-align: left !important;
  font-family: Arial, monospace;
  font-size: 16px;

}